* {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;;
}

.popupContainer {
    position: relative;
  display: inline-block;
}

.enterPlayers {
    visibility: hidden;
 
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    margin-left: -80px;
}

.show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
}

.space {
    height: 100px;
    background: #000;
    border: solid white;
    color: #FFF;
    font-weight: 700;
    font-size: 7rem;

    display: flex;
    align-items: center;
    justify-content: center;
}



